body {text-align: center;}
h1{font-size: 72px;}
html{background: url(../img/4.jpg) no-repeat center center fixed;}
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size: cover;
